# Node
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
dist/
build/
.vite/
.env
.env.local
.env.*.local

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.pytest_cache/

# Poetry
.poetry/

# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.pub/
flutter_export_environment.sh
android/.gradle/
ios/Pods/
ios/.symlinks/

# macOS
.DS_Store

# Colima
colima/
